.srs {
	.srs-up,
	.srs-down {
		&::before {
			font-family: inherit;
			font-size: 18px;
			border-radius: 50%;
			border: 3px solid;
			width: 19px;
			height: 18px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: relative;
			top: -2px;
			line-height: 0;
		}
	}
}
